.bg-contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../bg/bg.jpg);
}
.bg-contents .start {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
}

.bg-contents .rank-content {
    position: absolute;
    width: 100%;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
}

.bg-contents .scale {
    
    animation: changeSize 2s linear 0s infinite alternate;
    -moz-animation: changeSize 2s linear 0s infinite alternate;	/* Firefox */
    -webkit-animation: changeSize 2s linear 0s infinite alternate;	/* Safari å’Œ Chrome */
    -o-animation: changeSize 2s linear 0s infinite alternate;	/* Opera */
}

.point-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
.point-list .point-block {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    background: rgb(240, 232, 7);
    box-shadow: 0px 1px 3px rgba(240, 232, 7, 0.2);
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
}
.point-list .point-not-active .point-bg{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    text-align: center;
}
.point-list .point-not-active .point-bg img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
}

.point-list .point-block .point-number {
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
    color: white;
}

@keyframes changeSize{
    0% {
        transform:scale(0.8);
        -ms-transform:scale(0.8); /* IE 9 */
        -webkit-transform:scale(0.8); /* Safari and Chrome */
    }
    50% {
        transform:scale(1);
        -ms-transform:scale(1); /* IE 9 */
        -webkit-transform:scale(1); /* Safari and Chrome */
    }
    100% {
        transform:scale(0.8);
        -ms-transform:scale(0.8); /* IE 9 */
        -webkit-transform:scale(0.8); /* Safari and Chrome */
    }
}